body {
	margin: 0;
	padding: 0;
}
div.banner {
	margin: 0;
	padding: 0;
	width:100%;
}
div.banner h1 {
	text-align: center;
	padding: 0.5em;
	margin:0;
	text-decoration: none;
	font-size: larger;
	color: white;
	background-color: black;
}
h1 {
	text-decoration: underline;
	font-size: large;
}
div.menu {
	position: absolute;
	top: 2em;
	left: 0;
	width: 10em;
	float:left;
	margin-right: 1em;
	color: white;
	background-color: black;
	padding: 0.5em;
	height: 150%;
}
div.menu a {
	color: white;
	text-decoration: none;
}
div.menu ul {
	padding: 0 1em 1em 1em;
	list-style-type: none;
	margin: 0;
	width: 100%;
}
div.menu ul ul {
	padding: 0 1em 0 1em;
	margin: 0;
	width: 100%;
}
div.content {
	padding:1em 1em 0 12em;
}
table {
	border-collapse: collapse;
	border: black solid 1px;
}	
th { 
	border: black solid 1px;
	padding-left: 0.5em; 
	padding-right: 0.5em 
}
td { 
	border: black solid 1px;
	padding-left: 0.5em;
	padding-right: 0.5em; 
}
/****************************************/
/* Style for the forms			*/
/****************************************/
.form {
	margin-top: 1em;
}
.row {
	margin-left: 10em;
	clear: both;
}
.label {
	text-align: right;
	margin-right: 0.3em;
	width: 10em;
	float: left;
}
.field {
	float: left;
	margin: 0 0.3em 0.3em 0;
}
.error {
	float:left;
	color: red;
}

th.tableLabel {
	border-right-style: none;
	padding: 0;
}
th.tableSort {
	border-left-style: none;
	padding: 0 5px 0 ;
	width:10px;	
	line-height:10px;
}
img {
	border:0;
}
img.asc {
	padding: 0;
	margin-bottom: 2px;

}
img.desc {
	padding: 0;
}
